
/* CONTACT INFO PAGE STYLES */

.contact-info {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  
  .contact-addresses {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
  }

  .email-div {
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  @media (max-width: 600px) {
    .contact-addresses, .email-div{
      flex-direction: column;
    }
  }