/* History page */ 

.emsymb-div h4 {
    text-align: left;
  }
  
  .season-lesson-div {
    text-align: center;
  }
  
  .history-div {
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    text-align: center;
  }

  .degrees-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thirdbtn-a {
    color: #fff;
    text-decoration: none;
  }
  
  .degrees-h2 {
    margin-bottom: 0;
  }


  .history-photos {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .history-photos img {
    width: 100%;
    max-width: 250px; 
    border-radius: 5px;
    object-fit: cover;
  }