/* New or updated styles */
.login-page {
    
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.login-page form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    gap: 2rem;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.login-page input[type="email"] {
    padding: 14px !important;
    font-size: 20px !important;
}

.login-fields input {
    width: 100%;
    max-width: 400px;
    padding: 14px;
    font-size: 20px;
    
}

.login-page button[type="submit"] {
    max-width: 400px;
    padding: 16px 40px;
    font-size: 18px;
    background-color: #2e7ba5;
    border-radius: 5px;
    color: white; 
    border: none; 
    font-size: 24px; 
    margin-top: 10px; 
}

@media screen and (max-width: 600px) {
    .login-page {
        padding: 7rem 1rem;
  }
}


.password-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.password-wrapper input {
  flex: 1;
  padding: 14px;
  font-size: 20px;
  padding-right: 40px; /* avoid overlap */
  width: 100%;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}
