/* Grange Members Page */ 

#group_photo {
    max-width: 600px;
    
    height: auto;
    display: flex; 
    justify-self: center;
    margin-bottom: 20px;
    border-radius: 15%;
    margin-top: 5px;
    
}

@media screen and (max-width: 600px) {
    #group_photo{
      max-width: 350px;
      height: auto;
      margin-bottom: 15px;
      margin-top: 15px;
      border-radius: 15%;
    
    }
  }